<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<aiconnector>
			<general>
				<enabled/>
				<privider/>
				<domain/>
				<key/>
				<model/>
				<max_tokens/>
				<temperature/>
				<rules/>
			</general>
			<debugging>
				<inspector_ingestion_key/>
			</debugging>
		</aiconnector>
	</default>
</config>
